/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border-radius: 10px;
}

/* style.css */
.logo {
    position: relative;
    top: 0;
    left: 0;
}

.logo-img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}


.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
